In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing

In [2]:
data = pd.read_csv('D:/Data Science/Assignment/15Random Forest/Company_Data.csv')
data.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [3]:
data.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

There is no null value

In [7]:
#dummy data
data_dummy=pd.get_dummies(data)
data_dummy.shape

(400, 15)

In [10]:
data_dummy['Sales_nature']=pd.cut(data['Sales'],bins=[-1,7.5,16.27],labels=['Risky','Good'])
x=data_dummy.iloc[:,1:15]
y=data_dummy.iloc[:,-1]

In [11]:
y

0       Good
1       Good
2       Good
3      Risky
4      Risky
       ...
395     Good
396    Risky
397    Risky
398    Risky
399     Good
Name: Sales_nature, Length: 400, dtype: category
Categories (2, object): ['Risky' < 'Good']

In [13]:
#train test split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [14]:
#decision tree model
tree_model=DecisionTreeClassifier(criterion='entropy')
tree_model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [16]:
y_pred=tree_model.predict(x_test)
y_pred

array(['Risky', 'Good', 'Good', 'Risky', 'Risky', 'Risky', 'Good',
       'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good',
       'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Risky', 'Risky',
       'Risky', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Risky',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good',
       'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Risky',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Risky', 'Risky', 'Good'], dtype=object)

In [18]:
y_pred.shape

(80,)

In [19]:
np.mean(y_pred==y_test)

0.7375

In [20]:
pd.crosstab(y_pred,y_test)

Sales_nature  Risky  Good
row_0
Good              9    33
Risky            26    12

In [26]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold,cross_val_score

In [37]:
#kfold and random forest 
kfold=KFold(n_splits=10)
model=RandomForestClassifier(n_estimators=100,max_features=3)
result=cross_val_score(model,x,y,cv=kfold)

In [38]:
result

array([0.775, 0.9  , 0.675, 0.85 , 0.75 , 0.9  , 0.8  , 0.85 , 0.8  ,
       0.775])

In [39]:
result.mean()

0.8074999999999999

### Baging

In [41]:
from sklearn.ensemble import BaggingClassifier

In [45]:
cart=DecisionTreeClassifier(criterion='entropy')
bagging_model=BaggingClassifier(base_estimator=cart,n_estimators=100,random_state=7)

In [47]:
#cross validation
bag_results=cross_val_score(bagging_model,x,y,cv=kfold)
bag_results

array([0.85 , 0.85 , 0.7  , 0.875, 0.825, 0.9  , 0.75 , 0.75 , 0.75 ,
       0.9  ])

In [48]:
bag_results.mean()

0.8150000000000001