In [1]:
import pandas as pd
import numpy as np

In [6]:
df= pd.read_csv('D:/Data Science/Assignment/15Random Forest/Fraud_check.csv')
df.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Undergrad        600 non-null    object
 1   Marital.Status   600 non-null    object
 2   Taxable.Income   600 non-null    int64
 3   City.Population  600 non-null    int64
 4   Work.Experience  600 non-null    int64
 5   Urban            600 non-null    object
dtypes: int64(3), object(3)
memory usage: 28.2+ KB

There is no null values but need to remove the dot in column name

In [8]:
data=pd.get_dummies(df)

In [9]:
#rename column name
d={'Marital.Status':'Marital_Status','Taxable.Income':'Taxable_Income','City.Population':'City_Population','Work.Experience':'Work_Experience'}
data.rename(columns=d,inplace=True)

In [16]:
data['tax_income']=pd.cut(data['Taxable_Income'],bins=[10000,30000,99619],labels=['Risky','Good'])
data['tax_income'].value_counts()

Good     476
Risky    124
Name: tax_income, dtype: int64

In [19]:
x=data.iloc[:,:10]
y=data.iloc[:,-1]

In [20]:
x.shape,y.shape

((600, 10), (600,))

In [21]:
from sklearn.model_selection import train_test_split,KFold,cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,BaggingClassifier

In [22]:
#train test split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=0)

In [23]:
dt_model=DecisionTreeClassifier(criterion='entropy')
dt_model.fit(x_train,y_train)
y_pred = dt_model.predict(x_test)

In [24]:
np.mean(y_pred==y_test)

1.0

In [26]:
# Kfold and RandomForest
kfold= KFold(n_splits=10)

rf_model=RandomForestClassifier(n_estimators=100,max_features=2)
rf_results=cross_val_score(rf_model,x,y,cv=kfold)
rf_results

array([1.        , 1.        , 1.        , 1.        , 0.98333333,
       1.        , 1.        , 1.        , 1.        , 1.        ])

In [27]:
rf_results.mean()

0.9983333333333334

In [28]:
#Bagging
cart= DecisionTreeClassifier(criterion='entropy')

bag_model= BaggingClassifier(base_estimator=cart,n_estimators=100,random_state=7)

bag_result= cross_val_score(bag_model,x,y,cv=kfold)

bag_result

array([1.        , 1.        , 1.        , 1.        , 0.98333333,
       1.        , 1.        , 1.        , 1.        , 1.        ])

In [29]:
bag_result.mean()

0.9983333333333334